<div id="templatemo_footer">

    <ul> 台北市大安區忠孝東路4段221號9樓</ul>
    <ul>管理中心TEL：02-877-16-877　FAX:02-2999-7511 │電子信箱：foryu221@gmail.com│ Copyright © 2014 Taiwan All Rights Reserved.</ul>

</div> <!-- end of footer -->