<div class="sidebar_box">

    <ul class="col-md-3 col-xs-3 side_bar_menu">      
        
        <% @category_list.each do |category_list| %>
            <li class="sidebar_list"><%= link_to category_list.title_ch, category_path(:title_en => category_list.title_en) %></li>       
        <% end %>
    </ul>


</div>

