<div class="sidebar_box">

    <ul class="col-md-3 col-xs-3 side_bar_menu">      
        <li class="sidebar_list"><a href="news.html">最新消息</a></li>
        <li class="sidebar_list"><a href="service.html">服務內容</a></li>
        <li class="sidebar_list"><a href="environment.html">環境介紹</a></li>
        <li class="sidebar_list"><a href="rooms.html">房型介紹</a></li>
        <li class="sidebar_list"><a href="medteam.html">醫療團隊</a></li>
        <li class="sidebar_list"><a href="meals.html">月子餐</a></li>
        <li class="sidebar_list"><a href="babycare.html">寶寶照護</a></li>
        <li class="sidebar_list"><a href="mommycare.html">媽咪照護</a></li>
        <li class="sidebar_list"><a href="reservation.html">預約參觀</a></li>
        <li class="sidebar_list"><a href="contact.html">聯絡方式</a></li>
        <li class="sidebar_list"><a href="links.html">相關連結</a></li>

    </ul>


</div>