<div id="main">

        <%= render partial: "module/header" %>
        
        <div class="col-md-12 col-xs-12 content">
            
            <%= render partial: "module/sideMenu" %>

            <div class="col-md-9 col-xs-9 info">
                
                <div class="info_top"> </div>
                    <% if @category.title_en == "service" or @category.title_en == "medteam" %>
                    <div class="info_mid" style="height:initial;">  
                    <% else %>
                    <div class="info_mid"> 
                    <% end %>
                    <%=raw @category.content %>
                </div>
               
                
        </div>
         <div class="col-md-12 col-xs-12 info_bottom"></div>
	    
</div>
<div class="footer">

    <%= render partial: "module/footer" %>
    
</div>
