<div class="info_top"> </div>
<div class="info_mid"> 


    <h1 class="title">環境介紹</h1>
    <hr><br><br>
    <div class="col-md-12 col-xs-12 envi_content"> 
        <div class="col-md-3 col-xs-3 envi_list"> 
                <ul>                 		                  
                    <li class="envi_list_title">服務中心</li>
                    <li class="envi_list_title"><a href="e-nursestation.html">護理站</a></li>
                    <li class="envi_list_title"><a href="e-babyroom.html">嬰兒室</a></li>
                    <li class="envi_list_title"><a href="e-classroom.html">媽媽教室</a></li>
                    <li class="envi_list_title"><a href="e-counter.html">衛教諮詢室</a></li>
                    <li class="envi_list_title"><a href="e-spa.html">SPA/洗頭室</a></li>
                </ul>
        </div>

        <div class="col-md-9 col-xs-9 envi_img"> 
          <div class="rooms_b">
             <img height="272" id="big" name="big" src="/assets/img/A-C1.jpg" />
        </div>
          <ul class="rooms">
                <li class="rooms_s" onmouseover="document.images.big.src='/assets/img/0824-C1.jpg'">
                    <img class="envi_pic_s" height="63" src="/assets/img/0824-C1_small.jpg" width="100"> 
                </li>
                <li class="rooms_s" onmouseover="document.images.big.src='/assets/img/A-C2.jpg'">
                    <img class="envi_pic_s" height="63" src="/assets/img/A-C2.jpg" width="100">
                </li>
                <li class="rooms_s" onmouseover="document.images.big.src='/assets/img/A-C3.jpg'">
                    <img class="envi_pic_s" height="63" src="/assets/img/A-C3.jpg" width="100">
                </li>
                <li class="rooms_s" onmouseover="document.images.big.src='/assets/img/0824-C2.jpg'">
                    <img class="envi_pic_s" height="63" src="/assets/img/0824-C2_small.jpg" width="100"> 
                </li>
                <li class="rooms_s" onmouseover="document.images.big.src='/assets/img/0824-C3.jpg'">
                    <img class="envi_pic_s" height="63" src="/assets/img/0824-C3_small.jpg" width="100"> 
                </li>
                <li class="rooms_s" onmouseover="document.images.big.src='/assets/img/0824-C4-1.jpg'">
                    <img class="envi_pic_s" height="63" src="/assets/img/0824-C4-1_small.jpg" width="100"> 
                </li>


          </ul>
       </div>
    </div>


</div> 

<div class="col-md-12 col-xs-12 info_bottom"></div>