
<script>
    $(document).ready(function(){
    $('.bxslider').bxSlider({
        auto: true,
        autoControls: true
    });
    });
</script>   
    
    

<div id="main">

        <%= render partial: "module/header" %>
        
        <div class="col-md-12 col-xs-12 content">
            
            <%= render partial: "module/sideMenu" %>

            <div class="col-md-9 col-xs-9 info">
                    
                    <ul class="bxslider">
                        
                        <li><img src="/assets/img/A-C1.jpg" width="710px" /></li>
                        <li><img src="/assets/img/A-C2.jpg" width="710px"/></li>
                        <li><img src="/assets/img/A-C3.jpg" width="710px"/></li>
                        <li><img src="/assets/img/A-C4.jpg" width="710px"/></li>
                        <li><img src="/assets/img/A-C5.jpg" width="710px"/></li>
                        <li><img src="/assets/img/A-C6.jpg" width="710px"/></li>
                        <li><img src="/assets/img/A-C7.jpg" width="710px"/></li>

                    </ul>
            
            </div> 
        </div>
        
	    
</div>
<div class="footer">

    <%= render partial: "module/footer" %>
    
</div> <!-- end of templatmeo_footer_wrapper -->