



<div id="index_carousel">
    <div><img src="/assets/img/A-C1.jpg" width="100%"/></div>
    <div><img src="/assets/img/A-C2.jpg" width="100%"/></div>
    <div><img src="/assets/img/A-C3.jpg" width="100%"/></div>
    <div><img src="/assets/img/A-C4.jpg" width="100%"/></div>
    <div><img src="/assets/img/A-C5.jpg" width="100%"/></div>
    <div><img src="/assets/img/A-C6.jpg" width="100%"/></div>
    <div><img src="/assets/img/A-C7.jpg" width="100%"/></div>
</div>
<div id="index_carousel_dots"></div>
