<div class="info_top"> </div>
<div class="info_mid"> 

    <h1 class="title">相關連結</h1>
    <hr><br><br>

    <a href="http://www.facebook.com/foryu221" target="_blank"> 
        <img src="/assets/img/logo_400x120.png">Facebook 粉絲團
    </a>

</div>

<div class="col-md-12 col-xs-12 info_bottom"></div>