<div class="info_top"> </div>
<div class="info_mid"> 


    <h1>月子餐</h1>
    <hr><br><br>
    <p class= "descriptions">
    委託專業月子餐料理提供每餐熱騰騰新鮮料理，並延請營養師提供營養諮詢，媽媽吃得健康又開心。<font color="#FF0000">(紅字問Vivian)<br> 
    1. 早餐：米漿/牛奶/豆漿，中西式混合搭配主菜，青菜及附菜<br>
    2. 調養飲品：杜仲枸杞補腎茶/補氣養肝茶/窈窕塑身茶/元氣紅棗養血茶/強健補血歸耆茶/杜仲枸杞補腎茶/補氣養肝茶<br>
    3. 午餐：湯，主菜，附菜，青菜，飯，水果<br>
    4. 午點甜品：銀耳紅棗蓮子湯/酒釀芝麻湯圓/紫米紅豆桂圓粥/花生圓仔湯/沖繩老薑地瓜湯/銀耳桂圓湯/養身八寶粥<br>
    5. 晚餐：湯，主菜，附菜，青菜，飯，水果<br>
    6. 養身燉品：驅寒麻油雞腿盅/十全排骨強身湯/發奶花生豬腳盅/杜仲枸杞補腎明目子排盅/暖身麻油豬肝腰內肉盅/十全補身燉雞盅<br></font>

    ※參考菜單表(一周七天為橫軸，三正餐二點心為縱軸排列)<br>


            </p>

    <div class="enlarge"> <!--We give the list a class so that we can style it seperately from other unordered lists-->

    <li>
    <img src="/assets/img/brown_rice.jpg" width="250px" height="166px" alt="brown_rice" /> <!--thumbnail image-->
    </li>

    <li>
    <img src="/assets/img/red_bean_rice.jpg" width="250px" height="166px" alt="red_bean_rice" /> <!--thumbnail image-->
    </li>


    <li>
    <img src="/assets/img/red_rice.jpg" width="250px" height="166px" alt="red_rice" /> <!--thumbnail image-->
    </li>

    <li>
    <img src="/assets/img/pork_chop.jpg" width="250px" height="166px" alt="pork_chop" /> <!--thumbnail image-->
    </li>

    <li>
    <img src="/assets/img/fish.jpg" width="250px" height="166px" alt="fish" /> <!--thumbnail image-->
    </li>

    <li>
    <img src="/assets/img/chicken_soup.jpg" width="250px" height="166px" alt="chicken_soup" /> <!--thumbnail image-->
    </li>

    <li>
    <img src="/assets/img/vegetables.jpg" width="250px" height="166px" alt="vegetables" /> <!--thumbnail image-->
    </li>

    <li>
    <img src="/assets/img/kidney.jpg" width="250px" height="166px" alt="kidney" /> <!--thumbnail image-->
    </li>

    <li>
    <img src="/assets/img/lotus_soup.jpg" width="250px" height="166px" alt="lotus_soup" /> <!--thumbnail image-->
    </li>

    <li>
    <img src="/assets/img/sesame_chicken.jpg" width="250px" height="166px" alt="sesame_chicken" /> <!--thumbnail image-->
    </li>

    <li>
    <img src="/assets/img/pig_liver.jpg" width="250px" height="166px" alt="pig_liver" /> <!--thumbnail image-->
    </li>

    <li>
    <img src="/assets/img/herbs_1.jpg" width="250px" height="166px" alt="herbs_1" /> <!--thumbnail image-->
    </li>

    <li>
    <img src="/assets/img/herbs_2.jpg" width="250px" height="166px" alt="herbs_2" /> <!--thumbnail image-->
    </li>

    <li>
    <img src="/assets/img/rice_porridge.jpg" width="250px" height="166px" alt="rice_porridge" /> <!--thumbnail image-->
    </li>

    <li>
    <img src="/assets/img/liver_soup.jpg" width="250px" height="166px" alt="liver_soup" /> <!--thumbnail image-->
    </li>
    </div>
</div> 
<div class="col-md-12 col-xs-12 info_bottom"></div>