<div id="main">

        <%= render partial: "module/header" %>
        
        <div class="col-md-12 col-xs-12 content">
            
            <%= render partial: "module/sideMenu" %>

            <div class="col-md-9 col-xs-9 info">
                    <div class="info_top"> </div>
                    <div class="info_mid" style="height: initial;"> 
                    <h1 class="title">醫療團隊</h1>_______________________________________<br><br>
                      <p1>
                          <div class="doctor_title">婦產科醫師○○○ 醫師</div>
                            學歷: ○○○醫學系畢業<br>
                            經歷: ○○○婦產科主治醫師<br>
                            ○○○科臨床講師<br>
                            ○○○醫院婦產科主任<br>
                            現任: ○○○婦產科診所 院長<br><br>

                            <div class="doctor_title">小兒科醫師○○○ 醫師</div>
                            經歷: 前○○○醫院小兒科主治醫師<br>
                            前○○○醫院新生兒科主任<br>
                            中華民國小兒科專科醫師<br>
                            中華民國新生兒科專科醫師<br>
                            現任: ○○○診所院長<br>
                            負責人許慧英 護理師<br>
                            學歷: ○○○○護理系畢業<br><br>

                            <div class="doctor_title">兒童發展師</div>
                            經歷:榮總護理長?年以上經驗<br>
                            產後護理集團副督導<br>
                            產後護理集團護理長<br><br>

                            <div class="doctor_title">產後運動訓練師○○○ 老師</div>
                            學歷: ○○○○醫技系<br>
                            國體運動保健科學所運動傷害防護組<br>
                            經歷: 醫檢師<br>
                            現任: 大○○○○運動中心指導老師<br>
                            大產後瘦身指導老師<br><br>
                        </p1>

                    </div>
                    
            
            </div> 
            <div class="col-md-12 col-xs-12 info_bottom"></div>
        </div>
        
	    
</div>
<div class="footer">

    <%= render partial: "module/footer" %>
    
</div>