<div class="info_top"> </div>
<div class="info_mid"> 
    <h1 class="title">媽咪照護</h1>
    <hr><br><br>

    <ul>馥御產後護理之家提供產後至滿月的媽媽照護，包括傷口護理，乳房護理，<br>母乳哺餵，餐食提供，營養指導與新生兒照護指導等等。<br><br>
    特聘資深婦產科專科醫師定期巡診及專業照護。<br>
    特聘資深瑜珈老師授課，指導媽媽產後骨盆運動，調整體態，快樂迎接新生命到來。<br>
    </ul>
</div>


<div class="col-md-12 col-xs-12 info_bottom"></div>