<div id="main">

        <%= render partial: "module/header" %>
        
        <div class="col-md-12 col-xs-12 content">
            
            <%= render partial: "module/sideMenu" %>

            <div class="col-md-9 col-xs-9 info">
                
                <div class="info_top"> </div>
                <div class="info_mid"> 
                        
                     <h1 class="title"> 最新消息 </h1>_______________________________________<br>

                    <ul>針對產護護理相關正面新聞報導。</ul>  
                </div>
                
            </div> 
            <div class="col-md-12 col-xs-12 info_bottom"></div>
        </div>
        
	    
</div>
<div class="footer">

    <%= render partial: "module/footer" %>
    
</div>

            
 