<div id="main">

        <%= render partial: "module/header" %>
        
        <div class="col-md-12 col-xs-12 content">
            
            <%= render partial: "module/sideMenu" %>

            <div class="col-md-9 col-xs-9 info">
                
                    
                 <h1> 最新消息 </h1>__________________________________________________________________<br>
                  
                            針對產護護理相關正面新聞報導。  
            
            </div> 
        </div>
        
	    
</div>
<div class="footer">

    <%= render partial: "module/footer" %>
    
</div>

            
 