<div class="info_top"> </div>
<div class="info_mid" style="height:400px;"> 
    <% @category.each do |category| %>
        <%=raw category.content %>
    <% end %>
</div> 

<div class="col-md-12 col-xs-12 info_bottom"></div>