<div class="info_top"> </div>
<div class="info_mid"> 

 <h1 class="title">預約參觀</h1>
    <hr><br><br>
    <p>捷運忠孝敦化站2號出口步行3分鐘即可到達<br>
        地址: 10690 台北市大安區忠孝東路4段221號9樓<br>
        連絡電話: 02-877-16-877<br>

    </p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d903.6926775176697!2d121.55235164534935!3d25.04185424725029!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442abc5c62b1c13%3A0xb474aaf69240c8c6!2zTm8uIDIyMSwgU2VjdGlvbiA0LCBaaG9uZ3hpYW8gRWFzdCBSZCwg5b6u6aKo5b-g5a2d6aSoIERhYW4gRGlzdHJpY3QsIFRhaXBlaSBDaXR5LCAxMDY!5e0!3m2!1sen!2stw!4v1412059684696" width="80%" height="300px" frameborder="0" style="border:0"></iframe>


</div>
<div class="col-md-12 col-xs-12 info_bottom"></div>