<div id="main">

        <%= render partial: "module/header" %>
        
        <div class="col-md-12 col-xs-12 content">
            
            <%= render partial: "module/sideMenu" %>

            <div class="col-md-9 col-xs-9 info">
                
                <div class="info_top"> </div>
                <div class="info_mid" style="height: initial;"> 
                <h1 class="title"> 服務內容 </h1>_______________________________________<br><br>
                  
                                    <p1>※服務目標：
                <br>一、本著「全心」、「全意」的理念與宗旨，關懷住民及家屬。
                <br>二、本著專業知識，提供專業化人性化有尊嚴的關懷和照護。</p1>

                
                    <p2><br><br>※服務理念：
                    <br> 一、全心：讓您感覺貼心、讓您感覺安心、讓您感覺放心。
                    <br>   全意：讓顧客滿意、讓員工得意、讓全體如意。
                    <br> 二、產婦及新生兒應有被呵護的月子生活。
                    <br> 三、尊重毎一位住民的個性與自主性。
                    <br> 四、尊重毎位住民的隱私權。
                    <br> 五、宗教信仰給人精神上的寄託，尊重毎位住民的宗教信仰。
                    <br> 六、員工要經常接受專業訓練，以提升專業照護品質。
                    <br> 七、耐心聆聽及婉轉回答，視毎一位住民為自己的親屬。
                    <br> 八、環境專業化並鼓勵住民家屬參訪，使住民有家的感覺。
                    <br> 九、讓毎位住民有健康的身體。
                    <br> 十、適當的安排各項活動使住民的身心獲得舒解及安適。</p2>


                <p3><br><br>※本產後護理之家特色介紹<br><br><br>
 馥御產後護理之家位於台北市大安區微風商圈，捷運出口3分鐘，生活機能佳。<br>
附設廚房，每餐提供熱騰騰營養料理。<br>
資深護理人員24小時照護媽媽與寶寶，專業照顧一級棒。<br>
特約資深小兒科與婦產科醫師定期診視。<br>
定期舉辦媽媽教室提供衛教課程。<br>
全區室內建材採防火低甲醛綠建材，合格消防設施與消防通道。<br>
每房專屬電動擠乳器<br>

                    </p3>
            
                </div>
               
                
        </div>
         <div class="col-md-12 col-xs-12 info_bottom"></div>
	    
</div>
<div class="footer">

    <%= render partial: "module/footer" %>
    
</div>

            
 