body {
    width: 975px;
    margin: 0 auto;
}

.content {
    padding-top: 20px;   
}
/*==== Menu =====*/
.sidebar_list{
    background-image: url(/assets/img/list_bg.png);
    background-size: 160px 45px;
    background-repeat: no-repeat;
    height: 50px;
}


.sidebar_list a{
    text-align: center;
    position: relative;
    padding-left: 15%;
    top: 10%;
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}


.footer_top {
    background: url(/assets/img/BGN_bottom.jpg) repeat-x bottom center;
    height: 200px;
}


.header {
    height: 200px;
    background-image: url(/assets/img/BGN_top.jpg);
    background-color: #FFFFFF;
    background-repeat: repeat-x;
    background-position: top
}


.footer {
    background: url(/assets/img/templatemo_footer.png);   
    background-size: 6.7px;
}

.footer ul {
    padding-top: 15px;
    text-align: center;
    color: #a9a098;
}