
.title {
    font-weight: bold;   
}

.doctor_title {
    font-weight: bold;
    font-size: xx-large;
    text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;   
}

/* Index */

.info_top {
    background: url(/assets/img/templatemo_content_top.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 14px;
}

.info_mid {
    background: url(/assets/img/templatemo_content_middle_1.jpg) repeat-y;
    background-size: 100%;
    height: 680px;
    padding-top: 10px;
    font-size: 20px;
}

.info_bottom {
    background: url(/assets/img/templatemo_content_bottom.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100px;
}


/* Rooms */

.photo_frame {
    background-image: url(/assets/img/frame.png);
    height: 140px;
    width: 210px;
    background-repeat: no-repeat;
    padding-top: 4px;
    padding-left: 4px;
    padding-bottom: 50px;
    display: block;
    margin-bottom: 20px;
}

.room_name {
    font-size: 14px;
    color: #6b594e;
    font-weight: bold;
    line-height: 25px;
    background-repeat: no-repeat;
    background-position: left top;
    padding-left: 15px;
    float: left;
    height: 25px;
    margin-top: 8px;      
    
}

.introduction_name {
    background-image: url(/assets/img/heart_off.png);
    color: #3B2314;
    height: 40px;
    background-repeat: no-repeat;
    background-position: 20px 0px;
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-size: 18px;
    font-weight: bold;
    margin-left: -20px;
    padding-left: 45px;
    padding-top: 5px;
    width: 120px;   
}

.envi_content {
    margin-top: 20px;   
}

.envi_list_title {
    background-image: url(/assets/img/heart_off.png);
    color: #3B2314;
    height: 40px;
    background-repeat: no-repeat;
    background-position: left top;
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-size: 17px;
    font-weight: bold;
    margin-left: -20px;
    padding-left: 25px;
    padding-top: 5px;
    width: 120px;   
}


.rooms {
    margin-top: 4px;
    margin-left: 13px;
}

.rooms_b {
    border: 1px solid #73484A;
    padding: 1px;
}

.rooms_b {
    padding-left: 45px;
}

.rooms_s {
    display: inline-block;
    border: 1px solid #73484A;
    padding: 1px;
    margin-bottom: 5px;
}


/* Meals */

ul.enlarge li{
    display:inline-block; /*places the images in a line*/
    position: relative; /*allows precise positioning of the popup image when used with position:absolute - see support section */ 
    z-index: 0; /*resets the stack order of the list items - we'll increase in step 4. See support section for more info*/
    margin: 40px 0px 0 20px; /*space between the images*/ 
    margin-left: 50px;
}

ul.enlarge span{
    position:absolute; /*see support section for more info on positioning*/ 
    left: -9999px; /*moves the span off the page, effectively hidding it from view*/
}

ul.enlarge img{ 
    /*give the thumbnails a frame*/
    background-color:#eae9d4; /*frame colour*/
    padding: 6px; /*frame size*/ 
    /*add a drop shadow to the frame*/ 
    -webkit-box-shadow: 0 0 6px rgba(132, 132, 132, .75);
    -moz-box-shadow: 0 0 6px rgba(132, 132, 132, .75);
    box-shadow: 0 0 6px rgba(132, 132, 132, .75);
    /*and give the corners a small curve*/
    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px; 
    border-radius: 4px; 
}

ul.enlarge li:hover{
    z-index: 50; /*places the popups infront of the thumbnails, which we gave a z-index of 0 in step 1*/ 
    cursor:pointer; /*changes the cursor to a hand*/ 
}

/***We bring the large image back onto the page by reducing left from -9999px (set in step 2) to figures below***/ 
ul.enlarge li:hover span{ /*positions the <span> when the <li> (which contains the thumbnail) is hovered*/ 
    top: -300px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
    left: -20px; /*distance from the left of the thumbnail to the left of the popup image*/
}

/***To make it look neater we used :nth-child to set a different left distance for each image***/ 
ul.enlarge li:hover:nth-child(2) span{
    left: -100px; 
}

ul.enlarge li:hover:nth-child(3) span{
    left: -200px; 
}

ul.enlarge span{
/**Style the frame**/ 
    padding: 10px; /*size of the frame*/ 
    background:#eae9d4; /*colour of the frame*/ 
    /*add a drop shadow to the frame*/ 
    -webkit-box-shadow: 0 0 20px rgba(0,0,0, .75));
    -moz-box-shadow: 0 0 20px rgba(0,0,0, .75);
    box-shadow: 0 0 20px rgba(0,0,0, .75);
    /*give the corners a curve*/
    -webkit-border-radius: 8px; 
    -moz-border-radius: 8px; 
    border-radius:8px;
    /**Style the caption**/
    font-family: 'Droid Sans', sans-serif; /*Droid Sans is available from Google fonts*/ 
    font-size:.9em;
    text-align: center; 
    color: #495a62; 
} 
