<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/assets/css/templatemo_style.css">
  <link rel="stylesheet" href="/assets/css/jquery.bxslider.css">
  <script  src="/assets/js/jquery.min.js"></script>
  <script  src="/assets/js/jquery.bxslider.min.js"></script>
  
  
</head>
<body>

<%= yield %>

</body>
</html>
