<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>馥御產後護理之家</title>
<meta name="keywords" content="馥御產後護理之家" />
<meta name="description" content="馥御產後護理之家" />

    <!--<link rel="stylesheet" href="/assets/css/templatemo_style.css">-->
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/detail.css">
    <script data-turbolinks-track="true" src="/assets/jquery.js?body=1"></script>
    <script data-turbolinks-track="true" src="/assets/jquery_ujs.js?body=1"></script>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />

    <link rel="stylesheet" href="/assets/css/redactor.css" />
    <script src="/assets/js/redactor.js"></script>

    <link rel="stylesheet" href="/assets/css/jquery.bxslider.css">

    <script  src="/assets/js/jquery.bxslider.min.js"></script>
  
  
</head>
<body>

<%= yield %>
<div class="col-md-12 col-xs-12 device_change">
<%= link_to "電腦版", :ua_ => 0 %> | <%= link_to "手機板", :ua_ => 1 %>
</div>
</body>
</html>
